# Maven specific
target/
!.mvn/wrapper/maven-wrapper.jar
**/mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Temporary files
*.class
*.DS_Store

# Node.js specific (if frontend is an Angular/React project)
frontend/node_modules/
frontend/dist/

# OS specific
*.swp
Thumbs.db





# # Backend (Spring Boot)
# target/
# !.mvn/wrapper/maven-wrapper.jar
# !**/src/main/**/target/
# !**/src/test/**/target/  

# # IDEs (IntelliJ, Eclipse, VS Code)
# .idea/
# *.iws
# *.iml
# *.ipr
# /.project
# /.classpath
# .settings
# .vscode/*

# # Frontend (Angular)
# # Compiled output
# /dist
# /tmp
# /out-tsc
# /bazel-out

# # Node modules
# /node_modules
# npm-debug.log
# yarn-error.log

# # Miscellaneous
# /.angular/cache
# .sass-cache/
# /connect.lock
# /coverage
# /libpeerconnection.log
# testem.log
# /typings

# # System files
# .DS_Store
# Thumbs.db
